* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: url(fundo.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}


/* Caixa de Login */

.loginbox {
    width: 350px;
    height: 420px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 100px 50px;
}


/* Avatar */

.avatar {
    width: 30%;
    height: 30%;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h2 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.loginbox p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input {
    width: 100%;
    margin-bottom: 20px;
}

input.nome,
input.senha {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

input.submit {
    border: none;
    outline: none;
    height: 40px;
    background: #01579b;
    color: #fff;
    font-size: 18px;
}

input.submit:hover {
    cursor: pointer;
    background: #ffc107;
    color: #000;
}

.loginbox a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgray;
}

.loginbox a:hover {
    color: #ffc107;
}

.wallpaper {
    height: 90vh;
    width: 100%;
    background: url(fundo.jpg);
    background-size: cover;
}


/* NavBar */

nav {
    background: white;
    height: 10vh;
    width: 100%;
    color: black;
}

h1 {
    background: #01579b;
    height: 130px;
    width: 100%;
    color: white;
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

a.logo {
    color: black;
    font-weight: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: black;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

.active,
a:hover {
    background: #01579b;
    transition: .5s;
    color: white;
}

.active:hover {
    background: white;
    transition: .5s;
    color: black;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 952px) {
    a.logo {
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    a:hover,
    a.active {
        background: none;
        color: #0082e6;
    }
    #check:checked~ul {
        left: 0;
    }
}
